* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 14%;
}

.logo {
  cursor: pointer;
  width: 200;
}

.nav__links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
  color: #949eb2;
}

.nav__links li a:hover {
  color: #000000;
  text-decoration: underline;
}

.box_grey {
  background-color: rgb(233, 236, 239);
  margin: 4rem 14%;
  border-radius: 5px;
  height: 185px;
}

.box_card {
  margin: 4rem 14%;
  display: flex;
}

.uploader {
  display: flex;
}

.avatar{
    height: 45px;
    width: 45px;
    object-fit: cover;
    align-self: center;
    border-radius: 50px;
}

.title_text {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 14% 0px 35px;
  font-weight: 400;
  font-size: 1.625rem;
  margin-bottom: 0.5rem;
  color: #091836;
  text-decoration: none;
}

.title_text:hover {
  text-decoration: underline;
}

.title_box > .title_text {
  color: #de3f1c;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 600;
}

.title_text_seccond {
  font-family: sans-serif;
  color: #778298;
  font-size: 1.2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 400;
  padding: 5px 14% 0px 35px;
}

.desc_text {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 2;
    display: block;
    margin-block-start: 1em;
    /* margin-block-end: 1em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 2rem;
    font-weight: 400;
    padding: 5px 0% 0px 35px;
}

.button_box {
  margin: 5px 0px 10px 7px;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}

.btn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 10px auto 35px;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: rgb(164, 159, 159);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 13px;
  font-weight: bolder;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 12px;
  transition: 0.3s;
}

.btn-1::before {
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgb(56 64 79 / 30%), 0 1px 1px 0 rgb(9 24 54 / 24%),
    0 2px 5px 0 rgb(9 24 54 / 6%);
  background-color: #ffffff;
  transition: 0.3s ease-out;
}

.btn-1 span {
  color: #484b51;
  /* border: 1px solid rgb(28, 31, 30); */
  transition: 0.2s 0.1s;
}
.btn-1 span:hover {
  color: #ffffff;
  transition: 0.2s 0.1s;
}

.btn.hover-filled-opacity::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.btn.hover-filled-opacity:hover::before {
  opacity: 0;
}

.image_box{
    align-self: center;
}

.img_card{
    height: 170px;
}

.bottom_card{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.text_uploader{
    align-self: center;
    font-size: 13px;
    font-weight: normal;
    margin: 0px 10px;
    color: #778298;
    font-family: sans-serif;
}

.box {
  margin-top: 60px;
  max-width: 600px;
  background-color: #e8ecef;
  padding: 20px 30px;
  border-radius: 6px;
  margin-left: 450px;
  position: relative;
}

  h1{
    font-size: 20px;
    line-height: 30px;
    }

    p{
      color: grey;
      line-height: 50px;
    }
     
    input {
    width: 350px;
    height: 50px;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0px 0.3px 1px black;
    padding: 5px 10px;
    }
     
    .GetStarted{
    position: absolute;
    cursor: pointer;
    width: 30%;
    height: 50px;
    right: 50px;
    background-color: #65d777;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 0.3px 1px black;
    }

  .bottom-nav {
      overflow: hidden;
      margin-top: 65px;
      margin-bottom: 15px; 
      margin-right: 150px;
  }
    
  .bottom-nav a {
      float: right;
      display: flexbox;
      color:rgb(119, 130, 152); 
      text-align: left;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 16px;
      font-family: Source Sans Pro, arial;
  }
  
    .bottom-nav a:hover{
      text-decoration: underline;
  }

  .copyright {
    display: flexbox; 
    float: left;
    margin-top: 2px;
    margin-bottom: 15px; 
    margin-left: 250px;
    color:rgb(119, 130, 152); 
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    font-family: Source Sans Pro, serif;
  }
